/* background: #fde5df
element background: #fefff7
text: #c59896 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #fde5df;
    color: #c59896;
    font-family: "Gaegu", sans-serif;
}

h1 {
    font-family: "Gamja Flower", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    margin: 25px 0;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

p, label {
    font-size: 1.5rem;
}


/* interactive */

button {
    background: #c59896;
    color: #fefff7;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Gaegu", sans-serif;
    border: 3px solid #c59896;
    padding: 10px 20px;
    border-radius: 8px;
}

button:hover, button:focus {
    opacity: .65;
}

button:active {
    background: #fefff7;
    color: #c59896;
}

button, input[type='checkbox'] {
    cursor: pointer;
}

.is-prescripted {
    accent-color: #fefff7;
}

.highlight {
    font-weight: bold;
    background: #fde5df;
    accent-color: #fde5df;
}


/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-inner {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.form-options {
    background: #fefff7;
    min-width: 250px;
    min-height: 300px;
    padding: 25px;
    border: 5px solid #c59896;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 0 5px;
    margin: 5px 0;
}

.prescripted-checkbox {
    margin-bottom: 25px;
}